/root/shell/testshell/file1.txt.bak
/root/shell/testshell/file2.txt.bak
/root/shell/testshell/file3.txt.bak
/root/shell/testshell/file4.txt.bak
/root/shell/testshell/file5.txt.bak
/root/shell/testshell/file6.txt.bak
/root/shell/testshell/file7.txt.bak
/root/shell/testshell/file8.txt.bak
/root/shell/testshell/file9.txt.bak
/root/shell/testshell/file10.txt.bak
